
<div class="row">
	<aside class="span4">
		<section>
			<h1>
				<%= "#{@user.name}'s event page" %>
			</h1>
			<h2> <%= link_to "Create an event", '/events/new' %> </h2>
		</section>
	</aside>
	<div class="span8">

		<% if @user.created_events.any? %>
			<h3>Created events (<%= @user.created_events.count %>)</h3>
			<ol class="microposts">
					<% @created_events.each do |i| %>
					<li>
						<%= link_to "View Event", i %>
						<span class="content">Date: <%= i.date %></span>
						<span class="content">Location: <%= i.location %></span>
						<span class="content">Description: <%= i.description %></span></a>
					<% end %>
					</li>
			</ol>
		<% end %>
	</div>
	<aside class="span4"></aside>
	<div class="span8">
		<% if @user.invitations.any? %>
			<h3>Attending events (<%= @user.invitations.count %>)</h3>
			<ol class="microposts">
				<% @user.invitations.each do |i| %>
					<li>
					<%= link_to "#{Event.find(i.attended_event_id).location}", "/events/#{i.attended_event_id}" %>				
					</li>
				<% end %>
			</ol>
		<% end %>
	</div>
</div>